.dev-pages
    h1 
        b Quick Dev Template (qdt) - Theme 
        | - website pages
    ul
        li: a(href="index.html") Index
        li: a(href="buget.html") Buget management
        li: a(href="csv-import.html") CSV Import
        li: a(href="stores.html") Stores

    a(href="#").show
        span.mdi.mdi-radioactive
        span.mdi.mdi-pin
        span.mdi.mdi-pin-off