footer.main-footer
	.main-footer__left
		.main-footer__wrap
			.cf
				.main-footer__list
					.main-footer__h.main-h2
						h2 Contact us
					ul
						li
							p Telephone:
							span (0594) 50 88 88
						li
							p E-mail:
							span gemeente@zuidhorn.nl 
						li
							p Address:
							span Hooiweg 9, 9801 AJ Zuidhorn 
						li
							p WhatsApp:	
							span 06 48 58 60 03
				.main-footer__menu
					.main-footer__h.main-h2
						h2 Useful links
					ul
						li
							a(href="")  Gladheid en strooien
								span »
						li
							a(href="")  Gladheid en strooien
								span »
						li
							a(href="")  Vacatures en stages
								span »
						li
							a(href="")  Wegstremmingen
								span »
	.main-footer__right
		.main-footer__follow
			.main-footer__h.main-h2
				h2 Follow us
			ul.main-footer__soc
				li
					a.mdi-facebook(href="") 
				li
					a.mdi-google-plus(href="")
				li
					a.mdi-linkedin(href="")
				li
					a.mdi-instagram(href="")
		.cf
			.btn-dwn
				a(href="").btn-dwn__img
					img.img-responsive(src="assets/img/apple.png", alt="")
				.btn-dwn__txt
					p Download it from
					a(href="") App store
			.btn-dwn
				a(href="").btn-dwn__img
					img.img-responsive(src="assets/img/play.png", alt="")
				.btn-dwn__txt
					p Download it from
					a(href="") Google Play