header.section.section-header: .wrapper
    .section-header-inner(ng-show="credentials")
        a(href="#" ng-click="navigate($event, 'home')").logo: img(src="./assets/img/logo.png")
        .section-header-actions
            .button-group
                .button.button-white.disabled
                    span Budget &nbsp; 
                    strong €
                    strong(ng-bind="targetVoucher.funds")
                a(href="#" ng-click="navigate($event, 'account')").button.button-white
                    span.mdi.mdi-account
                    | Mijn Account
            a(href="#" ng-click="auth.signOut($event)").button.button-primary
                em.mdi.mdi-logout
                | Logout
    .section-header-inner(ng-show="!credentials")
        a(href="./").logo: img(src="./assets/img/logo.png", alt="")
        .section-header-actions
            a(href="#" ng-click="auth.activateVoucher($event)").button.button-success
                em.mdi.mdi-ticket-confirmation
                | Activate voucher
            a(href="#" ng-click="auth.signIn($event)").button.button-white
                em.mdi.mdi-account
                | Login


    .section-header-inner(ng-show="page == 'home'")
        .section-header-text
            .section-header-text-title
                strong Zuidhorn. 
                | Kindpakket
            .section-header-text-description
                | Welkom om de website van het kindpakket Zuidhorn. Op deze website vindt u een overzicht van de deelnemende winkeliers. Begin gelijk door rechtsboven in te loggen of uw voucher te activeren.
            a(href="#how-it-works" slow-scroll).button.button-success 
                span Leer meer over hoe het
                span systeem werkt

    .section-header-inner(ng-show="page == 'account'")
        .section-header-placeholder