.popups
    .popup.popup-auth
        .popup-backdrop(modal-close)
        .popup-inner
            a(href="#" modal-close).popup-close.mdi.mdi-close
            .popup-heading Login
            .form
                .row
                    .col.col-12: .form-group
                        label.label Email
                        input(type="email" placeholder="Email").form-control
                    .col.col-12: .form-group
                        label.label Password
                        input(type="password" placeholder="Password").form-control
                .row
                    br
                    .col.col-12: .form-group.text-center
                        a(href="#").button.button-success Submit
    .popup.popup-voucher
        .popup-backdrop(modal-close)
        .popup-inner
            a(href="#" modal-close).popup-close.mdi.mdi-close
            .popup-heading Activate voucher
            .form
                .row
                    .col.col-12: .form-group
                        label.label Voucher
                        input(type="text" placeholder="Voucher").form-control
                    .col.col-12: .form-group
                        label.label Email
                        input(type="email" placeholder="Email").form-control
                .row
                    br
                    .col.col-12: .form-group.text-center
                        a(href="#").button.button-success Submit
            .voucher-activation-loading: img(src="./assets/img/progress.gif", alt="")
            .voucher-activated
                .voucher-activated-title
                    em.mdi.mdi-checkbox-multiple-marked-circle-outline 
                    | Voucher Activated
                .voucher-activated-desc We have sent the password to your email
