.row
    .col-xs-12
        br
        h4.base-title.text-primary.clearfix
            span.pull-left {{ titles[view] }}
            a(href="#", ng-show="data.credentails", ng-click="navigation.signOut()").pull-right.btn.btn-primary Sign Out
        hr
    br
div(ng-show="view == 'welcome'"): .row
    .col-xs-12.text-center: p
        a(href="#", ng-click="navigation.signIn($event)").btn.btn-default Sign In
        | &nbsp;&nbsp;&nbsp;
        a(href="#", ng-click="navigation.signUp($event)").btn.btn-primary Sign Up
        | &nbsp;&nbsp;&nbsp;
        a(href="#", ng-click="navigation.loadSettings($event)").btn.btn-danger Settings

div(ng-show="view == 'sign_in'"): .row
    .col-xs-12
        .form-group
            label(for='email') E-mail
            input#email.form-control(name='email', type='email', ng-model="forms.sign_in.values.email")
            p(ng-show="forms.sign_in.errors.email", ng-repeat="err in forms.sign_in.errors.email track by $index", ng-bind="err").text-danger
        .form-group
            label(for='password') Password
            input#password.form-control(name='password', type='password', ng-model="forms.sign_in.values.password")
            p(ng-show="forms.sign_in.errors.password", ng-repeat="err in forms.sign_in.errors.password track by $index", ng-bind="err").text-danger
        .form-group.text-center
            a(href="#", ng-click="navigation.signInSubmit($event, forms.sign_in)").btn.btn-primary Submit
            | &nbsp;&nbsp;&nbsp;
            a(href="#", ng-click="navigation.signInCancel($event, forms.sign_in)").btn.btn-default Cancel

div(ng-show="view == 'sign_up'"): .row
    .col-xs-12
        .form-group
            label(for='kvk_number') Kvk number
            input#kvk_number.form-control(name='kvk_number', type='text', ng-model="forms.sign_up.values.kvk_number")
            p(ng-show="forms.sign_up.errors.kvk_number", ng-repeat="err in forms.sign_up.errors.kvk_number track by $index", ng-bind="err").text-danger
        .form-group
            label(for='iban') IBAN
            input#iban.form-control(name='iban', type='text', ng-model="forms.sign_up.values.iban")
            p(ng-show="forms.sign_up.errors.iban", ng-repeat="err in forms.sign_up.errors.iban track by $index", ng-bind="err").text-danger
        .form-group
            label(for='email') E-mail
            input#email.form-control(name='email', type='email', ng-model="forms.sign_up.values.email")
            p(ng-show="forms.sign_up.errors.email", ng-repeat="err in forms.sign_up.errors.email track by $index", ng-bind="err").text-danger
        .form-group.text-center
            a(href="#", ng-click="navigation.signUpSubmit($event, forms.sign_up)").btn.btn-primary Submit
            | &nbsp;&nbsp;&nbsp;
            a(href="#", ng-click="navigation.signUpCancel($event, forms.sign_up)").btn.btn-default Cancel

div(ng-show="view == 'panel'"): .row
    .col-xs-12
        h4 
            | Hello, 
            span.text-primary {{ data.auth_user.first_name }} {{ data.auth_user.last_name }}
            | .
        br
        h4 Let's make some acction!
        p
            a(href="#", ng-click="navigation.scanQrCode($event)").btn.btn-primary Scan QR-Code!
        br

        h4 User role
        pre {{ data.auth_user.role | pretty_json }} 
        br

        h4 Shop Keeper details
        pre(ng-show="data.auth_user.shop_keeper") {{ data.auth_user.shop_keeper | pretty_json }} 
        p.text-warning(ng-show="!data.auth_user.shop_keeper") Warning this user is not Shop keeper, and should be logger out!

div(ng-show="view == 'voucher_scan_screen'"): .row
    .col-xs-12

div(ng-show="view == 'voucher_form_screen'"): .row
    .col-xs-12
        .form-group
            p Your can use up to €{{ data.voucher.max_amount | to_fixed:2 }}.
        .form-group
            label(for='amount') Funds
            input#amount.form-control(name='amount', type='number', ng-model="forms.voucher.values.amount")
            p(ng-show="forms.voucher.errors.amount", ng-repeat="err in forms.voucher.errors.amount track by $index", ng-bind="err").text-danger
        .form-group.text-center
            a(href="#", ng-click="navigation.voucherFormSubmit($event, forms.voucher)").btn.btn-primary Submit
            | &nbsp;&nbsp;&nbsp;
            a(href="#", ng-click="navigation.voucherFormCancel($event)").btn.btn-default Cancel

div(ng-show="view == 'voucher_success_screen'"): .row
    .col-xs-12
        .form-group.text-center
            h1.mdi.mdi-check.text-center.text-primary
            h4 Success!
            p: a(href="#", ng-click="navigation.closeVoucherSuccessScreen($event)").btn.btn-primary Close

div(ng-show="view == 'settings'"): .row
    .col-xs-12
        .form-group
            label(for='device_id') Device ID
            select(name="device_id" select ng-options="item as item.name for item in deviceIdService.getOptions() track by item.id" ng-model="forms.settings.values.device_id").form-control
        .form-group.text-center
            a(href="#", ng-click="navigation.settingsFormSubmit($event, forms.settings)").btn.btn-primary Submit
            | &nbsp;&nbsp;&nbsp;
            a(href="#", ng-click="navigation.settingsFormCancel($event)").btn.btn-default Cancel

div(ng-show="view == 'device_pending_screen'"): .row
    .col-xs-12.text-center
        p This is the first time then you use this device, that's why this device should be approved. Confirmation link was sent to your primary email address.
        p: a(href="#" ng-click="navigation.refresh($e)").btn.btn-primary Refresh 