form.form: .row
    .col-md-12
        div(ng-show="csvParser.progress == 1")
            p
                | Select .csv file to uplaod.
                br
                a.btn.btn-primary(href='#' ng-click='csvParser.selectFile($event)')
                    em.glyphicon.glyphicon-open-file 
                    | &nbsp;Select .csv file

        div(ng-show="csvParser.progress == 2")
            p
                | Click button to start uploading.
                br
                a.btn.btn-primary(href='#' ng-click='csvParser.uploadToServer($event)')
                    em.glyphicon.glyphicon-cloud-upload
                    | &nbsp;Upload to server

        div(ng-show="csvParser.progress == 3")
            p 
                | Please wait, until data is uploaded and processed. 
                br
                | Do not reload page, when it finish you will be notified.
                br
            .progress
                .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
                    span.sr-only Uploading
    
        div(ng-show="csvParser.progress == 4")
            p
                | Uploading is done, please download result .csv
                br
                a(href='#' ng-click="csvParser.saveFromServer($event)").btn.btn-default
                    em.glyphicon.glyphicon-cloud-download  
                    | &nbsp;Download .csv file