extends layout/layout-panel
block content
    .section.section-container: .wrapper 
        .section.section-title Edit profile

        .section.section-panel.section-panel-profile: .section-panel-inner
            .profile-details
                .profile-photo
                    img(src="./assets/img/square.png", alt="")
                    .profile-photo-placeholder
                        em.mdi.mdi-image
                        | NO PHOTO
                .logo-title Logo
                .button.button-success
                    em.mdi.mdi-attachment
                    | Add photo
                .logo-description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit
            .form.form-sm
                .row: .col.col-12: .form-heading Details
                .row
                    .col.col-12
                        .form-group
                            label.label Company Name
                            input(type="text" placeholder="Company Name").form-control
                .row
                    .col.col-6
                        .form-group
                            label.label Email
                            input(type="email" placeholder="Email").form-control
                            a(href="#").button.button-text.button-sm
                                em.mdi.mdi-plus-circle
                                | ADD EMAIL
                    .col.col-6
                        .form-group
                            label.label Telephone
                            input(type="text" placeholder="Telephone").form-control
                            a(href="#").button.button-text.button-sm
                                em.mdi.mdi-plus-circle
                                | ADD TELEPHONE
                .row
                    .col.col-12
                        .form-group
                            label.label Select Category
                            select.form-control
                                option Please select category
                                option Bike
                                option Sport
                    .col.col-12
                        .form-group
                            span.button.button-label.button-xs
                                a(href="#").mdi.mdi-close-circle
                                | Bike
                            span.button.button-label.button-xs
                                a(href="#").mdi.mdi-close-circle
                                | Sport
                .row: .col.col-12: .form-heading Financial details 
                .row
                    .col.col-12
                        .form-group
                            label.label Kvk Number
                            input(type="text" placeholder="Kvk Number").form-control
                    .col.col-12
                        .form-group
                            label.label BTW
                            input(type="text" placeholder="BTW").form-control
                    .col.col-12
                        .form-group
                            label.label IBAN
                            input(type="text" placeholder="IBAN").form-control
            .buttons 
                a(href="#").button.button-success Submit
                | &nbsp;&nbsp;&nbsp;
                a(href="#").button.button-muted Cancel
