extends layout/layout-panel
block content
    .section.section-container: .wrapper 
        .section.section-title Transaction (114)
        .section.section-panel
            .table-responsive: table.table.table-stripped
                thead: tr
                    th Datum
                    th Vouchercode
                    th Welke telefoon 
                    th Bedrag
                    th Status
                -var count = 0;
                
                tbody
                    while ++count <= 10
                        tr
                            td 11-12-2017 &nbsp; | &nbsp; 18:58:46
                            td: strong.text-primary Ter Stal
                            td Kleding
                            td: strong € 44,65
                            td Geretouneerd
            .pagination
                a(href="#").pagination-it.disabled: em.mdi.mdi-chevron-left
                -var count = 0;
                while ++count <= 5
                    a(href="#" class=(count==1?'active':'')).pagination-it=count
                a(href="#").pagination-it: em.mdi.mdi-chevron-right
