.page(data-page='index')
    .navbar
        .navbar-inner
            .center Scan de QR-Code
    .page-content
        .content-block.text-center
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores unde nam aspernatur. 
            br
            .buttons-row: a(href="./pages/scan-qr-code.html").button.button-big.button-fill.button-raised.color-deeppink Scan QR-Code