.page(data-page='transaction-done')
    .navbar
        .navbar-inner
            .center Transaction success
    .page-content
        .content-block.text-center
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores unde nam aspernatur. 
            br
            .buttons-row: a(href="./pages/index.html").button.button-big.button-fill.button-raised.color-deeppink Scan another QR-Code