doctype
html(lang="en")
    include includes/head
    body(ng-csp ng-app="kindpakketApp" ng-controller="BaseController")
        // include includes/dev-pages
        include includes/header
        block content
        include includes/popups
        include includes/footer
        include includes/scripts