extends layout/layout
block content
    .views
        .view.view-main
            .pages.navbar-fixed
                .page(data-page='index')
                    .navbar
                        .navbar-inner
                            .center Scan de QR-Code
                            .right
                                a(href="./pages/voucher-info.html").link.icon-only
                                    i.icon.icon-forward
                    .page-content