/*
================================================================================
|              GENERAL ELEMENTS FOR PAGES                              |
================================================================================
*/

// titles h1,h2,h3

.wrap{
    overflow: hidden;
}

.main-h1 h1 {
    @include font-style(30px,$bc,600,1.2,left);
}

.main-h2 h2 {
    @include font-style(20px,$bc,400,1.2,left);
}

.main-h3 h3 {
    @include font-style(14px,$tc,600,1.2,left);
}

.container {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
    @include cf();
}


/*
================================================================================
|              BUTTONS                              |
================================================================================
*/

.btn-dwn {
    position: relative;
    background-color: $bc;
    @include cf();
    border-radius:3px;
    height: 51px;
    width: 200px;

    &__img {
        float:left;
        height: 26px;
        width: 23px;
        margin-top: 12px;
        margin-left: 17px;
        margin-right: 12px;
    }

    &__txt {
        border-left:1px solid #ededed;
        padding-left: 20px;
        position: relative;
        float:left;
        height: 100%;
        padding-top: 11px;
        text-align: center;

        p {
            @include font-style(10px,#083f49,600,1.2,center);
            text-transform: uppercase;
        }

        a {
            @include font-style(13px,#083f49,700,1.2,center);
            text-transform: uppercase;
            display: inline-block;
            text-decoration: none;
        }
    }
}

.btn-2 {
    display: block;
    width: 99px;
    height: 32px;
    background-color: $bg;
    border-radius:5px;
    text-decoration: none;
    text-align: center;
    @include font-style(12px,#fff,600,32px,center);

    &:hover {
        background-color: #8fd888;
        color:$bc;
        box-shadow: 0px 5px 25px -4px rgba(0,0,0,.2);
    }
}

.btn-3 {
    display: block;
    width: 157px;
    height: 42px;
    background-color: $bg;
    border-radius:5px;
    text-decoration: none;
    text-align: center;
    @include font-style(15px,#fff,600,42px,center);

    &.cancel {
        background-color: #79797a;

        &:hover {
            background-color: #a1a1a1;
        }
    }

    &:hover {
        background-color: #8fd888;
        color:$bc;
        box-shadow: 0px 5px 25px -4px rgba(0,0,0,.2);
    }
}


/*
================================================================================
|              POPUP                              |
================================================================================
*/

.popup {
    @include fill_parent();
    position: fixed;
    z-index: -1;
    display: none;

    &.act {
        z-index: 20;
        display: block;

        .popup-block {
            transform:tranlateY(0%);
        }
    }

    &-close {
        position: fixed;
        right:34px;
        top:34px;
        z-index: 21;
        cursor:pointer;

        .mdi {
            font: 400;
            font-size: 22px;
        }

        &:hover {
            color: #000;
        }
    }

    &-backdrop {
        cursor: pointer;
        @include fill_parent();
        z-index: 1;
        background-color: rgba(255,255,255,.93);
    }

    &-block {
        position: absolute;
        margin:0 auto;
        width: 412px;
        padding: 30px 45px;
        box-shadow:0 0px 30px -5px rgba(0,0,0,.3);
        background-color: $bc;
        border-radius:10px;
        text-align: center;
        transition: all 450ms cubic-bezier(.15,.35,.86,.82);
        display: none;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &.vcr-act {
            width: 544px;
            padding-top: 40px;
            padding-bottom: 40px;
            display: none;
            
            .btn-3 {
                float:none;
                margin:0 auto;
                width: 157px;
            }
        }


        &.login {

            .btn-3 {
                float:none;
                margin:0 auto;
                width: 157px;
                margin-top: 20px;
            }
        }

        &-logged {
            position: relative;
            @include cf();
            float:left;

            label.popup-block-logged__lab {
                @include font-style(13px,$tc,400,1.2,left);
                float: left;
                display: block;
                padding-left: 33px;
                padding-top: 3px;
                cursor: pointer;
                @extend .transition;

                &:hover {
                    color:#017f96;
                }

                &:before {
                    font-family: 'Material Design Icons';
                    color:#017f96;
                    height: 23px;
                    width: 23px;
                    font-size: 18px;
                    position: absolute;
                    left:0;
                    top:0;
                    text-align: center;
                    float: left;
                    padding: 0px;
                    padding-bottom: 2px;
                    content:"";
                    cursor: pointer;
                    border:1px solid #d7dee6;
                }
            }

            input[type=checkbox]:checked + label:before {
                content:"\F12C";
            }

            input[type=checkbox] {
                display: none;
            }
        }

        &-pass {
            float:right;

            &__desc {
                @include font-style(13px,$tc,400,1.2,left);
                position: relative;
                padding-top: 3px;
                text-decoration: none;
                display: block;

                &:before {
                    font-family: 'Material Design Icons';
                    color:#017f96;
                    font-size: 18px;
                    position: absolute;
                    left:-25px;
                    top:0;
                }
            }
        }

        &__img {
            height: 23px;
            width: 23px;
            position: absolute;
            left:-35px;
            top:7px;
        }

        &__h {
            position: relative;
            display: inline-block;

            h1 {
                @include font-style(30px, #083f49, 600, 1.2, center);
                padding-bottom: 10px;
            }

            h2 {
                @include font-style(18px, #083f49, 600, 1.2, center);
                padding-bottom: 33px;
            }
        }

        &__p {

            p {
               @include font-style(16px, #2e525a, 400, 1.2, center);
               padding-bottom: 28px; 
            }
        }

        label {
            @include font-style(12px, #017f96, 600, 1.2, left);
            padding-bottom: 18px;
            display: block;
        }

        input {
            @include font-style(12px, #017f96, 600, 1.2, left);
            outline:none;
            border:none;
            border-bottom:1px solid #d7d7d7;
            margin-bottom: 21px;
            @extend .transition;
            display: block;
            width: 100%;
            padding-bottom: 10px;

            &:hover {
                border-color:#017f96;
                color:$tc;

                /* @include placeholder {
                    color:$tc;
                } */
            }
        }

        .btn-3 {
            position: relative;
            float:left;
            width: 48%;

            &.cancel {
                float:right;
            }
        }

        &__desc p {
            @include font-style(13px, $tc, 600, 1.2, center);
            padding-top: 21px;
            padding-bottom: 3px;
        }

        &__terms {
            text-align: center;

            a {
                @include font-style(13px, #017f96, 700, 1.2, center);
                text-decoration: underline;
                display: inline-block;
            }
        }
    }
}
