/*-------------------------------------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
    

    @media screen and (max-width: 1565px) {

        .container, .map-canvas {
            width: 1170px;
        }

        .main-footer {

            &__wrap {
                width: 500px;
            }

            &__left {
                padding-right: 70px;
            }

            &__right {
                padding-left: 70px;
            }
        }

        .blocks {

            &-show {
                top:6px;

                &__desc p {
                    font-size: 15px;
                }
            }
        }
    }


    @media screen and (max-width: 1366px) {

        .container, .map-canvas {
            width: 1100px;
        }

        .blocks {

            &-show {
                top:24px;

                &__desc p {
                    font-size: 15px;
                }
            }
        }
    }

    @media screen and (max-width: 1200px) {

        .container, .map-canvas {
            width: 950px;
        }

        .main-h3 h3 {
            font-size: 13px;
        }

        .blocks {

            &-wrap {
                padding-left: 15px;
                padding-right: 15px;
                width: 19%;
            }

            &-item__h {
                padding-left: 0;

                h3 {
                    text-align: center;
                }
            }
        }
        
        .main-footer {
            height: 350px;

            &__wrap {
                width: 400px;
            }

            &__list li {

                p {
                    width: 100%;
                    float:none;
                    padding-bottom: 3px;
                }

                span {
                    width: 100%;
                    float:none;
                    padding-left: 0;
                }
            }
        }
    
    }

    @media screen and (max-width: 992px) {

        .container, .map-canvas {
            width: 740px;
        }
        
        .blocks {
            padding-bottom: 70px;

            &-wrap {
                padding-left: 15px;
                padding-right: 15px;
                width: 24%;
            }
        }

        .main-footer {
            height: auto;

            &__left {
                position: relative;
                width: 100%;
                padding-bottom: 67px;
                padding-right: 0;
            } 

            &__right {
                position: relative;
                width: 100%;
                padding-bottom: 67px;
                padding-left: 0;
            }

            &__wrap {
                margin:0 auto;
                float: none;
            }

            &__follow {
                float: none;

                .main-footer__h h2{
                    text-align: center;
                }
            }

            &__soc {
                text-align: center;

                li {
                    float: none;
                    display: inline-block;

                    a {
                        height: 40px;
                        width: 40px;
                        padding-top: 7px;

                        &:before {
                            font-size: 25px;
                        }
                    }
                }
            }

            .btn-dwn {
                float: none;
                margin:0 auto;

                &:nth-child(2) {
                    margin-top: 20px;
                }
            }
        }
    }


    @media screen and (max-width: 768px){

        .container, .map-canvas {
            width: 90%;
        }

        .blocks {
            &-wrap {
                width: 32%;
            }

            &-show {
                top:5px;
            }
        }

        .main-header {
            display: none;
        }

        .mob-head {
            display: block;
        }

        .content {
            margin-top: 0;
        }

        .banner {
            display: none;
        }

        .blocks {

            &-wrap {
                width: 48%;
            }

            &-item {

                &__h h3{
                    text-align: left;
                    padding-left: 10px;
                }

                &__circle {
                    height: 30px;
                    width: 30px;
                }

                &__label {
                    left:auto;
                    right:7px;
                    top:100px;
                }
            }
        }

        .main-footer {

            &__wrap {
                width: 350px;
            }
        }

        .popup {

            &-block {
                width: 320px;

                &__h h1 {
                    font-size: 26px;
                }

                &.vcr-act {
                    width: 320px;
                }

                &-logged {
                    float:none;
                }

                &-pass {
                    float:none;

                    &__desc {
                        padding-left: 30px;

                        &:before {
                            left:3px;
                        }
                    }
                }
            }
        }
    }


    @media screen and (max-width: 480px) {

        .blocks {

            &.selected {
                margin:0;

                .blocks-wrap {
                    padding-left: 0;
                    padding-right: 0;
                    width: 100%;
                    display: block;
                    padding-bottom: 8px;
                }
                
                .blocks-item.newItem {
                    height: 63px;
                    width: 100%;
                    display: block;
                    padding-left: 15px;
                    padding-right: 15px;
                    @include cf();
                    padding-top: 15px;

                    &:hover {
                        transform:translateY(0px);
                    } 

                    &:before {
                        @include pseudo(block,absolute,"",0,0);
                        width: 100%;
                        height: 100%;
                        background-color: rgba(1,127,150,.5);
                        z-index: 1;
                        border-radius:5px;
                    }

                    &:after {
                        @include pseudo(block,absolute,"",0,0);
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0,.4);
                        z-index: 1;
                        border-radius:5px;
                    }

                    .blocks-item__img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top:0;
                        left:0;
                        z-index: 0;
                        border-radius:5px;

                        &:after {
                            border-radius:5px;
                        }
                    }

                    .blocks-item__label {
                        position: relative;
                        left:0;
                        right:0;
                        top:0;
                        float:left;
                        z-index: 2;
                        height: 35px;
                        width: 35px;
                        padding-top: 6px;
                        padding-left: 6px;

                        &:before {
                            font-size: 23px;
                            width: 15px;
                            height: 15px;
                        }
                    }

                    .blocks-item__circle {
                        position: relative;
                        right:0;
                        left:0;
                        top:0;
                        float:right;
                        z-index: 2;
                    }

                    .blocks-item__h {
                        padding: 0;
                        position: relative;
                        float:left;
                        width:auto;
                        background-color: transparent;
                        z-index: 2;
                        padding-top: 9px;

                        h3 {
                            color:$bc;
                        }
                    }
                }
            }

            &-show {
                top:25px;
            }
        }

        .map {

            &-canvas {
                width: 100%;
                border-radius:0;
            }

            .btn-3 {
                width: 47%;
                margin-left: 10px;
                margin-top: 0;
                float: left;

                &:last-child {
                    float: right;
                    margin-left: 0px;
                    margin-right: 10px;
                }
            } 
        }
    }


    @media screen and (max-width: 400px) {
    
        .blocks {
            margin:0;

            &-wrap {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }

            &-show {
                top:0px;
            }
        }

        .main-footer {

            &__left {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            &__list {
                float:none;
                text-align: center;
                padding-bottom: 20px;

                .main-footer__h.main-h2 h2{
                    text-align: center;
                    padding-bottom: 10px;
                }

                li p {
                    text-align: center;
                }

                .main-footer__h {
                    text-align: center;
                }
            }

            &__menu {
                float:none;

                .main-footer__h.main-h2 h2{
                    text-align: center;
                    padding-bottom: 10px;
                }

                li {
                    text-align: center;

                    a {
                        display: inline-block;
                        position: relative;
                        width: auto;
                    }
                }
            }

            &__wrap {
                width: 90%;
            }
        }

        .map {

            .btn-3 {
                width: 90%;
                float: none;
                margin:0;

                &:last-child {
                    float: none;
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-top: 10px;
                }
            } 
        }
   
    }
