/*==========  Style Sheet - Vars  ==========*/

// base font
$bf:                'Open Sans', sans-serif;

// text color
$tc:                #131418;

// base color
$bc:                #ffffff;

// background color
$bg:                #70c567;

// background color
$bg1:                #f7f9fc;

// placeholder text color
$ptc:               #858585;