
<form class="form">
  <div class="row">
    <div class="col-md-12">
      <div ng-show="csvParser.progress == 1">
        <p>Select .csv file to uplaod.<br/><a class="btn btn-primary" href="#" ng-click="csvParser.selectFile($event)"><em class="glyphicon glyphicon-open-file"> </em>&nbsp;Select .csv file</a></p>
      </div>
      <div ng-show="csvParser.progress == 2">
        <p>Click button to start uploading.<br/><a class="btn btn-primary" href="#" ng-click="csvParser.uploadToServer($event)"><em class="glyphicon glyphicon-cloud-upload"></em>&nbsp;Upload to server</a></p>
      </div>
      <div ng-show="csvParser.progress == 3">
        <p>
           Please wait, until data is uploaded and processed. <br/>Do not reload page, when it finish you will be notified.<br/></p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="sr-only">Uploading</span></div>
        </div>
      </div>
      <div ng-show="csvParser.progress == 4">
        <p>Uploading is done, please download result .csv<br/><a class="btn btn-default" href="#" ng-click="csvParser.saveFromServer($event)"><em class="glyphicon glyphicon-cloud-download"> </em>&nbsp;Download .csv file</a></p>
      </div>
    </div>
  </div>
</form>