doctype
html(lang="en")
    include includes/head
    body
        include includes/dev-pages
        include includes/panel/panel-header
        block content
        include includes/footer
        include includes/scripts