extends layout/layout

block vars
    -var page = 'dashboard';

block content
    include layout/includes/aside-nav
    .content
        .content-inner
            h4.heading-title Dashboard
            hr