extends layout/layout
block content
    .section.section-header: .wrapper
        .section-header-inner
            a(href="./").logo: img(src="./assets/img/logo.png", alt="")
                
            .section-header-actions
                a(href="./").button.button-primary
                    em.mdi.mdi-logout
                    | Logout
    
    .section.section-container: .wrapper 
        .section.section-title Import .CSV file
        .section.section-panel
            .csv-import
                .csv-import-icon
                    .csv-import-icon-progress#progress
                    img(src="./assets/img/icon-csv.svg").csv-import-icon-icon
                .csv-import-status Uploading...
                .csv-import-progress 50%
                .csv-import-actions.text-center
                    a(href="#").button.button-success Save
                    a(href="#").button.button-muted Cancel

        .section.section-title Vouchers
        .section.section-panel
            .table-responsive: table.table.table-stripped
                thead: tr
                    th Id
                    th Citizen
                    th Budget
                    th Funds
                -var count = 0;
                
                tbody
                    while ++count <= 5
                        tr
                            td: strong.text-primary #0000001
                            td #{count}
                            td Kind Pakket
                            td: strong € 44,65
            .pagination
                a(href="#").pagination-it.disabled: em.mdi.mdi-chevron-left
                -var count = 0;
                while ++count <= 5
                    a(href="#" class=(count==1?'active':'')).pagination-it=count
                a(href="#").pagination-it: em.mdi.mdi-chevron-right
