extends layout/layout
block content
    .section.section-auth-layout
        .logo: img(src="./assets/img/logo.png", alt="")
        .popups
            .popup.popup-auth.active
                .popup-backdrop.popup-backdrop-pasive
                .popup-inner
                    .popup-heading Login
                    .form
                        .row
                            .col.col-12: .form-group
                                label.label Email
                                input(type="email" placeholder="Email").form-control
                            .col.col-12: .form-group
                                label.label Password
                                input(type="password" placeholder="Password").form-control
                        .row
                            .col.col-6.text-left
                                label.label.label-checkbox
                                    em.mdi.mdi-checkbox-blank-outline
                                    | Keep me logged in

                            .col.col-6: .form-group.text-right
                                a(href="#").forget-password
                                    em.mdi.mdi-help-circle-outline
                                    | Forgot password

                        .row
                            br
                            .col.col-12: .form-group.text-center
                                a(href="./csv-import.html").button.button-success Submit