extends layout/layout
block content
    .section.section-header: .wrapper
        .section-header-inner
            a(href="./").logo: img(src="./assets/img/logo.png", alt="")
            .section-header-actions
                .button-group
                    .button.button-white.disabled
                        span Budget &nbsp; 
                        strong € 120,00
                    a(href="./account.html").button.button-white
                        span.mdi.mdi-account
                        | Mijn Account
                a(href="./").button.button-primary
                    em.mdi.mdi-logout
                    | Logout
        .section-header-inner
            .section-header-placeholder
    
    .section.section-voucher-details
        .wrapper.wrapper-sm
            .voucher-info-view
                .voucher-info-view-content: .inner
                    .voucher-content-code: img(src="./assets/img/qr-code-sample.jpg", alt="") 
                    .voucher-content-title 
                        em.mdi.mdi-ticket-confirmation
                        | Jouw Voucher Code
                    .voucher-content-amount 
                        .voucher-content-amount-title HUIDIG BUDGET
                        .voucher-content-amount-value €456,66

                .voucher-info-view-aside: .inner
                    .voucher-info-view-aside-actions
                        a(href="#").button.button-white
                            span.mdi.mdi-printer
                            | Print Voucher
                        a(href="#").button.button-white
                            span.mdi.mdi-email
                            | Stuur per mail



    .section.section-container: .wrapper 
        .section.section-title Transaction (15)
        .section.section-panel
            .table-responsive: table.table.table-stripped
                thead: tr
                    th Datum
                    th Vouchercode
                    th Welke telefoon 
                    th Bedrag
                    th Status
                -var count = 0;
                
                tbody
                    while ++count <= 5
                        tr
                            td 11-12-2017 &nbsp; | &nbsp; 18:58:46
                            td: strong.text-primary Ter Stal
                            td Kleding
                            td: strong € 44,65
                            td Geretouneerd
            .pagination
                a(href="#").pagination-it.disabled: em.mdi.mdi-chevron-left
                -var count = 0;
                while ++count <= 5
                    a(href="#" class=(count==1?'active':'')).pagination-it=count
                a(href="#").pagination-it: em.mdi.mdi-chevron-right

    .section.section-contact-form
        .wrapper
            .bg-image
            .contact-inner
                .contact-title Contact Feedback
                .contact-subtitle Lees hier de meest gestelde vragen
                form(action="#").contact-form.form
                    .contact-form-inner
                        .row
                            .col.col-6: .form-group
                                label.label First name
                                input(type="text" placeholder="Text here").form-control
                                p.text-danger This field is require
                            .col.col-6
                                label.label Last name
                                input(type="text" placeholder="Text here").form-control
                        .row
                            .col.col-12: .form-group
                                label.label Subject
                                input(type="text" placeholder="Text here").form-control
                        .row
                            .col.col-6: .form-group
                                label.label Email
                                input(type="email" placeholder="Text here").form-control
                            .col.col-6: .form-group
                                label.label Telephone
                                input(type="phone" placeholder="Text here").form-control
                        .row
                            .col.col-12: .form-group
                                label.label Message
                                textarea(name="message" placeholder="Message" cols="30" rows="3").form-control
                        
                        button(type="submit").button.button-success.submit-button Send message