.row
    .col-xs-12
        .form-group
            label(for='token') Token
            input#token.form-control(name='token', type='token', ng-model="$ctrl.form.values.token")
            p(ng-show="$ctrl.form.errors.token", ng-repeat="err in $ctrl.form.errors.token track by $index", ng-bind="err").text-danger
        .form-group.text-center
            a(href="#", ng-click="$ctrl.submit($event)").btn.btn-primary Submit
            | &nbsp;&nbsp;&nbsp;
            a(ui-sref="welcome").btn.btn-default Cancel